{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>
    <p></p>
    {% if is_granted('ROLE_ADMIN')%}
        <h3>you are an Admin</h2>
    {% endif %}
    {% if is_granted('ROLE_USER')%}
        <h3>You are a Simple user</h2>
    {% endif %}
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.titre }}</td>
                <td>{{ post.contenu }}</td>
                <td>
                    <a href="{{ path('post_show', {'id': post.id}) }}">show</a>
                    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                    <a href="{{ path('commentaire_show', {'id': post.id}) }}">commentaires</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('post_new') }}">Create new</a>
{% endblock %}
